@model KanbanApp.Models.UserBoard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserBoard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Board)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Board.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
